body {
    margin: 0px;
}

#ad-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

#ad {
    position: absolute;
    height: 320px;
    display: none;
    width: 480px;
    background-color: #001b38;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
}

#dimmer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
}


#logo {
    position: absolute;
    z-index: 1;
    left: 10px;
    top: 22px;
    width: 50px;
}

#bar_panel {
    position: absolute;
/*    top: 36px;*/
    bottom: 6px;
    left: 98px;
/*    left: 84px;*/
}

#bar_line {
width: 375px;
}

#bar_bullet {
    position: absolute;
    width: 15px;
    left: 44.66px;
    top: 3px;
}

#score_panel {
    position: absolute;
    display: none;
    right: 55px;
    top: 51px;
}

#mis1 {
    
    
}

.packrex {
    float: right;
    width: 10px;
    margin-right: 3px;
    opacity: 0.5;
}

#gunung {
    position: absolute;
    left: 0px;
    top: 18px;
    width: 481px;
}

#pohons {
    position: absolute;
    left: 0px;
    top: 124px;
    width: 481px;
}

#road {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 579px;
}

#popup {
    position: absolute;
    left: 0;
    right: 14px;
    top: 12px;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
}

#popwindow {
    position: absolute;
    width: 386px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

#popuphand {
    position: absolute;
    width: 64px;
    left: 229px;
    top: 91px;
}

#startbutton {
    position: absolute;
    width: 117px;
    left: 184px;
    top: 221px;
}

#hrun {
    position: absolute;
    width: 150px;
    height: 150px;
    background-image: url("../images/run2.png");
   
    -webkit-animation: play .6s steps(8) infinite;
    -moz-animation: play .6s steps(8) infinite;
    -ms-animation: play .6s steps(8) infinite;
    -o-animation: play .6s steps(8) infinite;
    -o-animation: play .6s steps(8) infinite;
}

@-webkit-keyframes play {
   from { background-position:    0px; }
     to { background-position: -1250px; }
}

@-moz-keyframes play {
   from { background-position:    0px; }
     to { background-position: -1250px; }
}

@-ms-keyframes play {
   from { background-position:    0px; }
     to { background-position: -1250px; }
}

@-o-keyframes play {
   from { background-position:    0px; }
     to { background-position: -1250px; }
}

@keyframes play {
   from { background-position:    0px; }
     to { background-position: -1250px; }
}

#pohons2 {
    position: absolute;
    left: 480px;
    top: 124px;
    width: 481px;
}

#swipejump {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
}

#rexona {
    position: absolute;
    width: 23px;
}

#rexitem {
    position: absolute;
    top: 100px;
    left: 500px;
}

#hits {
    position: absolute;
    height: 54px;
    width: 10px;
    left: 1px;

}

#superhero {
    position: absolute;
    bottom: 178px;
    left: -200px;
}

#herohits {
    position: absolute;
    top: 10px;
    height: 120px;
    width: 10px;
    left: 116px;
}

#hjump {
    position: absolute;
    width: 134px;
    display: none;
}

#acv1 {
    position: absolute;
    right: 81px;
    top: 60px;
    width: 171px;
    display: none;
}

#acv2 {
    position: absolute;
    right: 81px;
    top: 60px;
    width: 171px;
    display: none;
}

#endframe {
    position: absolute;
    width: 480px;
    display: none;
}

#keepmoving {
    position: absolute;
    width: 268px;
    left: 0;
    right: 0;
    margin: auto;
    top: 29px;
    display: none;
}

#keepmovingcopy {
    position: absolute;
    width: 379px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 80px;
    display: none;
}

#keepmovingcta {
position: absolute;
    width: 200px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 27px;
    display: none;
}

.bg {
    position: absolute;
/*    display: none;*/
    z-index: 0;
    width: 101%;
}

#tagline {
    position: absolute;
    display: none;
    width: 58%;
    top: 3%;
    right: 8%;
}

#bg1 {
/*    display: none;*/
}
#bg2 {
    display: none;
}
#bg3 {
    display: none;
}

#bg5 {
    display: none;
}

#bg4 {
    display: none;
}

#bg6 {
    display: none;
}

#bg7 {
    display: none;
}
.rounds {
    position: absolute;
    width: 29%;
}

#round1 {
    display: none;
    bottom: 10%;
    left: 5%;
}

#round2 {
    display: none;
    bottom: 10%;
    left: 35.5%;
}

#round3 {
    display: none;
    bottom: 10%;
    right: 5%;
}

#round4 {
    display: none;
    z-index: 1;
    bottom: 22%;
    left: 5%;
}

#round5 {
    display: none;
    z-index: 1;
    bottom: 22%;
    left: 35.5%;
}

#round6 {
    display: none;
    z-index: 1;
    bottom: 22%;
    right: 5%;
}

#round7 {
    display:none;
    z-index: 1;
    bottom: 18%;
    left: 5%;
}

#round8 {
    display:none;
    z-index: 1;
    bottom: 18%;
    left: 35.5%;
}

#round9 {
    display:none;
    z-index: 1;
    bottom: 18%;
    right: 5%;
}

.icons {
    position: absolute;
    width: 21%;
}

#icon1 {
    display: none;
    bottom: 16%;
    left: 9%;
}

#icon2 {
    display: none;
    bottom: 16%;
    left: 40%;
}

#icon3 {
    display: none;
    bottom: 16%;
    right: 9%;
}

#icon4 {
    display:none;
    z-index:1; 
    bottom: 31%;
    left: 13%;
}

#icon5 {
    display:none;
    z-index:1;
    bottom: 31%;
    left: 43%;
}

#icon6 {
    display:none;
    z-index:1;
    bottom: 31%;
    right: 13%;
}

#icon7 {
    display:none;
    z-index: 1;
    bottom: 28%;
    left: 12%;
}

#icon8 {
    display:none;
    z-index: 1;
    bottom: 28%;
    left: 42%;
}

#icon9 {
    display:none;
    z-index: 1;
    bottom: 28%;
    right: 12%;
}

.city {
    position: absolute;
    width: 17%;
}

#city1 {
    display: none;
    bottom: 41%;
    left: 21.5%;
}

#city2 {
    display: none;
    bottom: 11%;
    left: 25.5%;
}

#city3 {
    display: none;
    bottom: 27%;
    left: 35.5%;
}

#city4 {
    display: none;
    bottom: 43%;
    left: 50.5%;
}

#run {
    position: absolute;
     display: none; 
    z-index: 0;
    bottom: 10%;
    left: 9%;
    width: 20%;
}

#shadow {
    position: absolute;
     display: none; 
    z-index: 0;
    bottom: 8%;
    left: 4%;
    width: 30%;
}

/*
#round8 {
    position: absolute;
    top: 10%;
    right: 16%;
    width: 37%;
}
*/

.challanges {
    position: absolute;
    width: 13%;
}

.ctas {
    position: absolute;
    width: 25%;
}

#cta4 {
    display:none;
    z-index: 1;
    left: 7%;
    bottom: 2%;
}

#cta5 {
    display:none;
    z-index: 1;
    left: 38%;
    bottom: 2%;
}

#cta6 {
    display:none;
    z-index: 1;
    left: 68%;
    bottom: 2%;
}

#cta7 {
    display:none;
    z-index: 1;
    left: 7%;
    bottom: 2%;

}

#cta8 {
    display:none;
    z-index: 1;
    left: 38%;
    bottom: 2%;

}

#cta9 {
    display:none;
    z-index: 1;
    left: 68%;
    bottom: 2%;

}


#title1 {
    position: absolute;
    display: none;
    z-index: 1;
    width: 45%;
    top: 20%;
    left: 27%;
}

#title2 {
    position: absolute;
    display:none;
    z-index: 1;
    width: 70%;
    top: 25%;
    left: 15%;
}

#miniEvent {
    position: absolute;
    display:none;
    z-index: 1;
    right: 10px;
    top: 11px;
    width: 23%;
}

.challanges2 {
    position: absolute;
    width: 15%;
}

#intro {
    position: absolute;
    height: 320px;
    width: 480px;
    background-color: #001b38;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
}

#obtainItem {
    position: absolute;
    display: none;
    z-index: 0;
    left: 0px;
    width: 100%;
    height: 100%;
}

#start {
    position: absolute;
     display: none; 
    width: 28%;
    bottom: 3%;
    right: 24%;
}

.txt {
    position: absolute;
    display: none;
}

input[type=text]{
    width:5%;
    border-width: 0px;
    border = none;
}

input:focus{
    outline: none;
}

#txt1{
    top: 34%;
    right: 38%;
    z-index: 1;
}

#txt2{
    top: 34%;
    right: 28%;
    z-index: 1;
}

#txt3{
    top: 34%;
    right: 18%;
    z-index: 1;
}

#txt4{
    top: 34%;
    right: 8%;
    z-index: 1;
}


#tracking {
    position: absolute;
    width: 100px;
    left: 54.66px;
    bottom: 30px;
}
